html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
img{border:0;}
pre,body,ul,ol,li{padding:0;margin:0;}
ul,ol,li{list-style:none;}
a{text-decoration:none;}a:focus,a:hover,a:active{outline:none;}
pre{white-space:pre-wrap;word-wrap:break-word;}
