html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
img{border:0;}
pre,body,ul,ol,li{padding:0;margin:0;}
ul,ol,li{list-style:none;}
a{text-decoration:none;}a:focus,a:hover,a:active{outline:none;}
pre{white-space:pre-wrap;word-wrap:break-word;}
input,textarea,select{outline:none;}
*{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
#msg{width:560px;height:160px;position:fixed;left:50%;top:40%;margin-top:-100px;margin-left:-300px;border-radius:8px;background:rgba(0, 0, 0, 0.95);z-index:999;display:none;font-size:24px;padding:20px;padding-top:70px;color:#fff;}#msg .close{float:right;background:#fff;width:50px;height:50px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;text-align:center;line-height:50px;margin-top:-67px;color:#000;font-size:36px;font-weight:bold;}#msg .close:hover{cursor:pointer;}
#loading{width:360px;height:60px;position:fixed;left:50%;top:50%;margin-top:-50px;margin-left:-200px;border-radius:8px;background:rgba(0, 0, 0, 0.95);z-index:1000;font-size:24px;padding:20px;padding-top:70px;color:#fff;display:none;}
#wrap{width:540px;margin:0 auto;overflow:hidden;padding:50px;}
#menu{margin:0 auto;width:540px;float:left;}#menu .box{display:block;width:260px;height:260px;float:left;padding:0;margin:0 5px 10px 5px;background-color:#219eee;background-repeat:no-repeat;background-position:50% 30px;color:#fff;line-height:445px;font-size:38px;text-align:center;overflow:hidden;cursor:pointer;}#menu .box:nth-child(4n+1),#menu .box:nth-child(4n){background-color:#666666;}
#menu .gaikuang{background-image:url(../img/general.png);}
#menu .xiaoli{background-image:url(../img/calendar.png);}
#menu .kebiao{background-image:url(../img/class.png);}
#menu .chengji{background-image:url(../img/gpa.png);}
#menu .kaoshi{background-image:url(../img/exam.png);}
#menu .shida{background-image:url(../img/Top10-cc98.png);}
#menu .xiaoche{background-image:url(../img/bus.png);}
#menu .jiaoshi{background-image:url(../img/rooms.png);}
#menu .xiaohua{background-image:url(../img/jokes.png);}
#menu .login{background-image:url(../img/login.png);}
#menu .logout{background-image:url(../img/exit.png);}
#menu .config{background-image:url(../img/settings.png);}
#menu .zuoye{background-image:url(../img/homework.png);}
#menu:after{content:'';clear:both;display:block;}
.mask{width:100%;height:100%;}
.hidden{display:none;}
.logo{display:block;width:240px;height:140px;background:url(../img/logo.png) no-repeat left top;float:left;cursor:pointer;}
#gaikuang{width:540px;}#gaikuang .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/general-blue.png) no-repeat left bottom;}
#gaikuang #zju_date_info{font-size:36px;color:#555;line-height:2em;}
#gaikuang #timer{font-size:36px;color:#219eee;line-height:36px;}#gaikuang #timer .msg_timer{width:48%;float:left;}
#gaikuang #timer .msg_course{width:48%;float:right;font-size:22px;margin-top:3px;text-overflow:ellipsis;}
#gaikuang #timer:after{content:'';clear:both;display:block;}
#gaikuang #course_today,#gaikuang #course_tomorrow{color:#219eee;font-size:28px;}#gaikuang #course_today:before,#gaikuang #course_tomorrow:before{content:"Tomorrow";display:block;font-size:60px;padding-left:.5em;color:#555;font-weight:bold;border:none;border-left:20px solid #219eee;border-radius:70px;}
#gaikuang #course_today{padding-bottom:2em;}#gaikuang #course_today:before{content:"Today";}
#login{width:90%;margin:0 auto;padding-top:20px;}#login input[type="text"],#login input[type="password"]{resize:none;border:4px solid #666666;font-size:48px;line-height:76px;padding:10px;height:96px;margin-bottom:20px;width:95%;}
#login input[type="text"]{margin-top:30px;}
#login #login_submit{background:#219eee;border:none;color:#fff;font-size:48px;line-height:96px;margin-top:20px;text-align:center;height:96px;width:55%;cursor:pointer;border-radius:10px;margin-right:2px;}
#login header{font-size:96px;float:right;text-align:right;line-height:160px;color:#219eee;}
#copyright{padding-top:1em;color:#666666;}
#chengji{width:540px;}#chengji .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/gpa-blue.png) no-repeat left bottom;}
#chengji #danke .chengji{margin:20px 0;}
#chengji #gpa .detail{display:block;}
#chengji #gpa .gpa{margin:20px 0;text-transform:uppercase;}#chengji #gpa .gpa .date{font-weight:bold;font-size:1.2em;}
#config{width:540px;}#config .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/settings-blue.png) no-repeat left bottom;}
#config #config_items{font-size:36px;}#config #config_items li{margin:24px 0;padding:0 24px;border-radius:5px;background:#fff;border:2px solid #777;color:#666666;height:100px;line-height:100px;}
#config #config_items .true:after{display:block;width:70px;text-align:center;margin:14px 10px 0 0;line-height:50px;content:'ON';background:#9acd32;border-radius:10px;padding:10px;color:#fff;float:right;font-weight:bold;}
#config #config_items .false:after{display:block;width:70px;text-align:center;margin:14px 10px 0 0;line-height:50px;content:'OFF';background:#dc143c;border-radius:10px;padding:10px;color:#fff;float:right;font-weight:bold;}
#xiaohua{width:540px;}#xiaohua .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/jokes-blue.png) no-repeat left bottom;}
#kaoshi{width:540px;font-size:36px;color:#666666;}#kaoshi .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/gpa-blue.png) no-repeat left bottom;}
#kaoshi .kaoshi{margin-bottom:2em;}#kaoshi .kaoshi .name{font-size:1.2em;}
#kaoshi .kaoshi .time{color:#219eee;padding-bottom:.5em;}
#xiaoli{width:540px;}#xiaoli .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/calendar-blue.png) no-repeat left bottom;}
#xiaoli #xiaoli_content ul li{background:#fff;border-radius:8px;border:1px solid #777;font-size:30px;margin-top:1em;padding:1em;}
#xiaohua .content{font-size:48px;margin:24px 0;}
#xiaohua .love.false{background:#aaa;}
#xiaohua .love.true{background:#dc143c;}
#xiaohua .next{background:#219eee;margin-left:10px;}
#xiaohua .next,#xiaohua .love{font-size:36px;padding:20px;border-radius:10px;color:#fff;float:left;width:225px;font-weight:bold;text-align:center;cursor:pointer;}
#xiaoche{width:540px;}#xiaoche .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/bus-blue.png) no-repeat left bottom;}
#xiaoche select{padding:0;margin:0;font-size:32px;width:267px;background:#fff;border:2px solid #777;color:#555;}
#xiaoche #bus_info{font-size:32px;color:#666666;}#xiaoche #bus_info .bus_info{font-size:28px;}#xiaoche #bus_info .bus_info .detail{font-size:28px;line-height:36px;}
#xiaoche #bus_info .bus_info:first-child .detail,#xiaoche #bus_info .bus_info:hover .detail{display:block;}
#xiaoche #bus_info .bus_info span{margin-right:10px;}
#xiaoche #bus_info .bus_info .begin{float:left;}
#xiaoche #bus_info .bus_info .id{color:#777;font-size:28px;height:56px;max-width:56px;overflow:hidden;display:block;}
#shida{width:540px;}#shida .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/Top10-cc98-blue.png) no-repeat left bottom;}
.clear{clear:both;}
hr{border:2px solid #ddd;margin-bottom:1em;}
hr.blue{border-color:#219eee;}
#kebiao{outline:none;}#kebiao .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;}
.kebiao .class_name{line-height:72px;color:#666666;font-size:48px;margin-top:1em;}
.kebiao .class_nth_all{font-size:36px;color:#219eee;}
.kebiao .class_time{font-size:32px;color:#666666;}
.kebiao .class_classroom{font-size:32px;color:#666666;}
.kebiao .no_class{padding-top:60px;font-size:48px;color:#666666;}
#forward{display:block;width:100px;height:100px;margin-top:20px;background:url(../img/forward.png);float:right;cursor:pointer;}
.backward{display:block;width:100px;height:100px;margin-top:50px;background:url(../img/backward.png);float:right;cursor:pointer;}
.slide >div{max-height:120px;overflow:hidden;}
.slide header{padding-left:1em;text-transform:capitalize;font-family:ubuntu;height:80px;line-height:80px;font-size:60px;border:2px solid #555;border-radius:8px;color:#555;margin:30px 0;cursor:pointer;background:url(../img/downward.png) no-repeat 90% center;background-size:60px 60px;}
.slide .detail{font-size:48px;color:#666666;overflow:hidden;}
.slide .hide{max-height:120px;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;}
.slide .show{transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;max-height:10000px;}
.em{color:#219eee;}
#wrapper{width:85vw;padding-top:5%;margin:0 auto;}#wrapper #zuoye .icon{background:url(../img/homework-blue.png) no-repeat left bottom;height:25vw;width:21vw;background-size:21vw;float:left;margin-right:2vw;}
#wrapper #zuoye header{padding-top:10vw;font-size:15vw;line-height:15vw;color:#219eee;float:left;}
#wrapper #zuoye .back{background:url(../img/backward.png) no-repeat right bottom;height:25vw;width:16vw;background-size:15vw;float:right;}#wrapper #zuoye .back:hover{cursor:pointer;}
#wrapper #zuoye hr{margin-top:25vw;margin-bottom:3vw;}
#wrapper #zuoye #add_homework_button{padding:14px 0;background:#219eee;text-align:center;height:8vw;line-height:8vw;font-size:6vw;color:#fff;border-radius:8px;cursor:pointer;width:100%;}
#wrapper #zuoye #add_homework{display:none;padding-top:1.5vh;}#wrapper #zuoye #add_homework textarea{-webkit-appearance:none;margin-top:1vh;padding:0;border:none;background:#ddd;margin:0;border-radius:14px;width:100%;height:20vh;line-height:48px;font-size:36px;resize:none;text-indent:1em;}
#wrapper #zuoye #add_homework #share_homework,#wrapper #zuoye #add_homework #add_homework_submit{margin-top:2vh;background:#dc143c;height:7vh;width:40vw;font-size:5vh;line-height:7vh;color:#fff;text-align:center;border-radius:8px;display:inline-block;}
#wrapper #zuoye #add_homework #add_homework_submit{background:#9acd32;float:right;}
