html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
img{border:0;}
pre,body,ul,ol,li{padding:0;margin:0;}
ul,ol,li{list-style:none;}
a{text-decoration:none;}a:focus,a:hover,a:active{outline:none;}
pre{white-space:pre-wrap;word-wrap:break-word;}
input,textarea,select{outline:none;}
#msg{width:560px;height:160px;position:fixed;left:50%;top:40%;margin-top:-100px;margin-left:-300px;border-radius:8px;background:rgba(0, 0, 0, 0.95);z-index:999;display:none;font-size:24px;padding:20px;padding-top:70px;color:#fff;}#msg .close{float:right;background:#fff;width:50px;height:50px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;text-align:center;line-height:50px;margin-top:-67px;color:#000;font-size:36px;font-weight:bold;}#msg .close:hover{cursor:pointer;}
#loading{width:360px;height:60px;position:fixed;left:50%;top:50%;margin-top:-50px;margin-left:-200px;border-radius:8px;background:rgba(0, 0, 0, 0.95);z-index:1000;font-size:24px;padding:20px;padding-top:70px;color:#fff;display:none;}
#wrap{width:540px;margin:0 auto;overflow:hidden;padding:50px;}
#menu{margin:0 auto;width:540px;float:left;}#menu .box{display:block;width:260px;height:260px;float:left;padding:0;margin:0 5px 10px 5px;background-color:#219eee;background-repeat:no-repeat;background-position:50% 30px;color:#fff;line-height:445px;font-size:38px;text-align:center;overflow:hidden;cursor:pointer;}#menu .box:nth-child(4n+1),#menu .box:nth-child(4n){background-color:#666666;}
#menu .gaikuang{background-image:url(../img/general.png);}
#menu .xiaoli{background-image:url(../img/calendar.png);}
#menu .kebiao{background-image:url(../img/class.png);}
#menu .chengji{background-image:url(../img/gpa.png);}
#menu .kaoshi{background-image:url(../img/exam.png);}
#menu .xiaoche{background-image:url(../img/bus.png);}
#menu .jiaoshi{background-image:url(../img/rooms.png);}
#menu .xiaohua{background-image:url(../img/jokes.png);}
#menu .login{background-image:url(../img/login.png);}
#menu .logout{background-image:url(../img/exit.png);}
#menu .config{background-image:url(../img/settings.png);}
#menu:after{content:'';clear:both;display:block;}
.mask{width:100%;height:100%;}
.hidden{display:none;}
.logo{display:block;width:240px;height:140px;background:url(../img/logo.png) no-repeat left top;float:left;cursor:pointer;}
#gaikuang{width:540px;}#gaikuang .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/general-blue.png) no-repeat left bottom;}
#gaikuang #zju_date_info{font-size:36px;color:#555;line-height:2em;}
#gaikuang #timer{font-size:36px;color:#219eee;line-height:36px;}#gaikuang #timer .msg_timer{float:left;}
#gaikuang #timer .msg_course{float:right;font-size:18px;margin-top:3px;}
#gaikuang #timer:after{content:'';clear:both;display:block;}
#gaikuang #course_today,#gaikuang #course_tomorrow{color:#219eee;font-size:28px;}#gaikuang #course_today:before,#gaikuang #course_tomorrow:before{content:"Tomorrow";display:block;font-size:60px;padding-left:.5em;color:#555;font-weight:bold;border:none;border-left:20px solid #219eee;border-radius:70px;}
#gaikuang #course_today{padding-bottom:2em;}#gaikuang #course_today:before{content:"Today";}
#login input[type="text"],#login input[type="password"]{resize:none;border:4px solid #666666;font-size:48px;line-height:76px;padding:10px;height:96px;margin-bottom:20px;width:512px;}
#login input[type="text"]{margin-top:30px;}
#login #login_submit{background:#219eee;border:none;color:#fff;font-size:48px;line-height:96px;margin-top:20px;text-align:center;height:96px;width:540px;cursor:pointer;}
#login header{font-size:96px;float:right;text-align:right;line-height:160px;color:#219eee;}
#copyright{padding-top:1em;color:#666666;}
#chengji{width:540px;}#chengji .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/gpa-blue.png) no-repeat left bottom;}
#chengji #danke .chengji{margin:20px 0;}
#chengji #gpa .gpa{margin:20px 0;text-transform:uppercase;}#chengji #gpa .gpa .date{font-weight:bold;font-size:1.2em;}
#config{width:540px;}#config .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/settings-blue.png) no-repeat left bottom;}
#config #config_items{font-size:36px;}#config #config_items li{margin:24px 0;padding:0 24px;border-radius:5px;background:#fff;border:2px solid #777;color:#666666;height:100px;line-height:100px;}
#config #config_items .true:after{display:block;width:70px;text-align:center;margin:14px 10px 0 0;line-height:50px;content:'ON';background:#9acd32;border-radius:10px;padding:10px;color:#fff;float:right;font-weight:bold;}
#config #config_items .false:after{display:block;width:70px;text-align:center;margin:14px 10px 0 0;line-height:50px;content:'OFF';background:#dc143c;border-radius:10px;padding:10px;color:#fff;float:right;font-weight:bold;}
#xiaohua{width:540px;}#xiaohua .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/jokes-blue.png) no-repeat left bottom;}
#kaoshi{width:540px;font-size:36px;color:#666666;}#kaoshi .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/gpa-blue.png) no-repeat left bottom;}
#kaoshi .kaoshi{margin-bottom:2em;}#kaoshi .kaoshi .name{font-size:1.2em;}
#kaoshi .kaoshi .time{color:#219eee;padding-bottom:.5em;}
#xiaohua .content{font-size:48px;margin:24px 0;}
#xiaohua .love.false{background:#aaa;}
#xiaohua .love.true{background:#dc143c;}
#xiaohua .next{background:#219eee;margin-left:10px;}
#xiaohua .next,#xiaohua .love{font-size:36px;padding:20px;border-radius:10px;color:#fff;float:left;width:225px;font-weight:bold;text-align:center;cursor:pointer;}
#xiaoche{width:540px;}#xiaoche .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;background:url(../img/bus-blue.png) no-repeat left bottom;}
#xiaoche select{padding:0;margin:0;font-size:32px;width:267px;background:#fff;border:2px solid #777;color:#555;}
#xiaoche #bus_info{font-size:32px;color:#666666;}#xiaoche #bus_info .bus_info{font-size:28px;border:2px solid #555;border-radius:7px;padding:10px;width:516px;margin:10px 0;}#xiaoche #bus_info .bus_info .detail{font-size:20px;display:none;}
#xiaoche #bus_info .bus_info:first-child .detail,#xiaoche #bus_info .bus_info:hover .detail{display:block;}
#xiaoche #bus_info .bus_info span{margin-right:10px;}
#xiaoche #bus_info .bus_info .id{float:right;color:#777;font-size:28px;}
.clear{clear:both;}
hr{border:2px solid #ddd;margin-bottom:1em;}
hr.blue{border-color:#219eee;}
#kebiao .header{background:url(../img/class-blue.png) no-repeat left bottom;max-height:150px;line-height:200px;padding-left:160px;font-size:100px;color:#219eee;}
.kebiao .class_name{line-height:72px;color:#666666;font-size:48px;margin-top:1em;}
.kebiao .class_nth_all{font-size:36px;color:#219eee;}
.kebiao .class_time{font-size:32px;color:#666666;}
.kebiao .class_classroom{font-size:32px;color:#666666;}
#forward{display:block;width:100px;height:100px;margin-top:20px;background:url(../img/forward.png);float:right;cursor:pointer;}
.backward{display:block;width:100px;height:100px;margin-top:50px;background:url(../img/backward.png);float:right;cursor:pointer;}
.slide header{text-align:center;text-transform:capitalize;font-family:ubuntu;line-height:100px;font-size:80px;background:#666666;color:#fff;margin:40px 0;}.slide header:hover{background:#219eee;}
.slide .current{background:#219eee;}
.slide .detail{display:none;font-size:48px;color:#666666;}
.em{color:#219eee;}
